



$__buttonHeight: 32px;


.button {
	@include fontSize(alpha, 0);
	@include noUserSelect();
	color: $color_textwhite;
	background-color: $color_deepsea;
	height: $__buttonHeight;
	line-height: $__buttonHeight;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: 0;
	padding: 0 7px;
	text-transform: uppercase;
	position: relative;
	background-repeat: no-repeat;
	background-position: right center;
	&:hover {
		background-color: lighten($color_deepsea, 10%);
	}
	&:active {
		background-color: darken($color_deepsea, 10%);
	}
}

.button,
.button__icon,
.button__text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.button--dynamic {
	height: auto;
	line-height: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: normal;
}


.button--stretch {
	width: 100%;
	display: block;
}

.button--arrow {
	text-align: left;
	background-image: url(/img/tilbudswizard/graphic/button_arrow.png);
	padding-right: 30px;
}

.button--arrowleft {
	text-align: right;
	background-image: url(/img/tilbudswizard/graphic/button_arrow_left.png);
	background-position: left center;
	padding-left: 30px;
}

.button--coral {
	background-color: $color_coralsea;
	&:hover {
		background-color: lighten($color_coralsea, 10%);
	}
	&:active {
		background-color: darken($color_coralsea, 10%);
	}
}

.button__icon {
	display: inline-block;
}

.button__text {
	display: inline-block;
}

