


.form {
	display: block;
	width: 100%;
}

.form,
.form__input,
.form__textarea,
.form__select,
.form__option,
.form__file {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form--center {
	text-align: center;
	.form__input {
		margin-left: auto;
		margin-right: auto;
	}
}

.form__input {
	display: block;
	padding: 5px;
	width: 100%;
	margin: 0;
}

.form__textarea {
	display: block;
	padding: 5px;
	width: 100%;
	margin: 0;
}

.form__select {
	display: block;
	padding: 5px;
	width: 100%;
	margin: 0;
}

.form__option {
	display: block;
	padding: 5px;
	width: 100%;
}

.form__file {
	display: block;
	padding: 5px;
	width: 100%;
	margin: 0;
}

.form__btn {
	display: block;
	padding: 5px;
	width: 100%;
	margin: 0;
}