

$formInputMarginBottom: 10px;

.form {
	@include fontSize(gamma, 0);
	display: block;
	width: 100%;
}

.form,
.form__input,
.form__textarea,
.form__select,
.form__option,
.form__file,
.form__checkbox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form--center {
	text-align: center;
	.form__input {
		margin-left: auto;
		margin-right: auto;
	}
}

.form__input,
.form__textarea,
.form__select,
.form__option,
.form__file,
.form__checkbox {
	display: block;
	padding: 7px;
	width: 100%;
	margin: 0;
	margin-bottom: $formInputMarginBottom;
	outline: 0;
	border: 1px solid $color_coldsea;
	&:last-child {
		margin-bottom: 0;
	}
}

.form__input {

}

.form__textarea {
	min-height: 150px;
	max-height: 400px;
}

.form__select {
	padding: 6px 7px;
}

.form__option {

}

.form__file {

}

.form__btn {

}

.form__checkbox {
	//@include appearance(none);
	width: auto;
	display: inline-block;
	margin-bottom: ($formInputMarginBottom * 1.5);
	& ~ & {
		margin-left: 20px;
	}
	& + label {
		display: inline-block;
	}
}

