

$productItemSpacing: 20px;


.product {
	display: block;
	width: 100%;
}

.product,
.product__card,
.product__main,
.product__aside,
.product__asideitem,
.product__productlist,
.product__item,
.product__categorybox,
.product__productsbox,
.product__uploadbox,
.product__cardimage,
.product__itemimage,
.product__itemtext,
.product__basketitem,
.product__basketitemclose {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.product__card {
	display: block;
	color: $color_textwhite;
	background-color: $color_deepsea;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	&:hover {
		background-color: lighten($color_deepsea, 10%);
	}
	&:active {
		background-color: darken($color_deepsea, 10%);
	}
}

.product__card--selected {
	background-color: $color_coralsea;
	color: $color_textwhite;
	&:hover {
		background-color: lighten($color_coralsea, 10%);
	}
	&:active {
		background-color: darken($color_coralsea, 10%);
	}
}

.product__main {
	display: block;
	background-color: $color_almostwhite;
	position: relative;
	overflow: hidden;
	padding: 15px;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.product__aside {
	width: 100%;
	float: none;
	padding: 15px;
	min-height: 1px;
	background-color: $color_almostwhite;
	margin-bottom: 10px;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include mediaQueries(desktop tablet) {
		width: 28%;
		margin-left: 2%;
		float: right;
	}
}

.product__asideitem {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

.product__basketitem {
	@include fontSize(beta,1);
	background-color: $color_white;
	border: 1px solid $color_coldsea;
	position: relative;
	padding: 5px;
	display: block;
	padding-right: 20px;
	cursor: pointer;
	&:hover {
		background-color: darken($color_white, 10%);
	}
	&:active {
		background-color: darken($color_white, 15%);
	}
}

.product__basketitemclose {
	@include fontSize(beta,0);
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -(#{returnHalfFontSize(beta)});
	cursor: pointer;
	//opacity: 0.7;
	&:hover {
		//opacity: 1;
	}
	&:active {
		//opacity: 0.8;
	}
}

.product__categorybox {
	width: 100%;
	padding: 25px;
	margin: 0 auto 20px auto;
	background-color: $color_almostwhite;
	@include mediaQueries(desktop) {
		width: 90%;
	}
}

.product__productsbox {
	width: 100%;
	margin: 0 auto 20px auto;
	@include mediaQueries(desktop) {
		width: 90%;
	}
}

.product__uploadbox {
	width: 100%;
	padding: 25px;
	margin: 0 auto 20px auto;
	background-color: $color_almostwhite;
	@include mediaQueries(desktop) {
		width: 70%;
	}
}

.product__cardimage {
	display: block;
	margin: 0;
	width: 100%;
	position: relative;
	& > img {
		display: block;
		margin: 0;
		width: 100%;
	}
}


.product__productlist {
	display: block;
	padding: 0;
	margin: 0;
	margin-right: -$productItemSpacing;
	//margin-bottom: -$productItemSpacing;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.product__item {
	display: block;
	position: relative;
	display: block;
	float: left;
	width: (100% / 4);
	padding-right: $productItemSpacing;
	padding-bottom: $productItemSpacing;
	min-height: 1px;
	z-index: 1;
	list-style-image: none;
	cursor: pointer;
	@include mediaQueries(desktop) {
		width: (100% / 6);
	}
	@include mediaQueries(tablet) {
		width: (100% / 4);
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.product__item--active {

}

.product__item--active .product__itemimage{
	border-color: $color_navyocean;
}

.product__inner {
	width: 100%;
	display: block;
}

.product__itemimage {
	display: block;
	width: 100%;
	background-color: $color_white;
	border: 3px solid transparent;
	& > img {
		display: block;
		margin: 0;
		width: 100%;
	}
}

.product__itemtext {
	display: block;
	width: 100%;
}