



.retailer {
	display: block;
	width: 100%;
}

.retailer,
.retailer__card,
.retailer__searchbox,
.retailer__cardtitle,
.retailer__paragraph,
.retailer__resultsbox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.retailer__card {
	display: block;
	color: $color_textwhite;
	background-color: $color_deepsea;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	min-height: 100%;
	&:hover {
		background-color: lighten($color_deepsea, 10%);
	}
	&:active {
		background-color: darken($color_deepsea, 10%);
	}
}

.retailer__card--selected {
	background-color: $color_coralsea;
	color: $color_textwhite;
	&:hover {
		background-color: lighten($color_coralsea, 10%);
	}
	&:active {
		background-color: darken($color_coralsea, 10%);
	}
}

.retailer__cardtitle {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}

.retailer__paragraph {
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
}

.retailer__searchbox {
	width: 100%;
	padding: 25px;
	margin: 0 auto 20px auto;
	background-color: $color_almostwhite;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include mediaQueries(desktop) {
		width: 40%;
	}
	@include mediaQueries(tablet) {
		width: 70%;
	}
}

.retailer__resultsbox {
	width: 100%;
	padding: 25px;
	margin: 0 auto 20px auto;
	background-color: $color_almostwhite;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include mediaQueries(desktop) {
		width: 80%;
	}
}