

.tilbudswizard {
	display: block;
	position: relative;
	width: 100%;
	background: $color_white;
}

.tilbudswizard,
.tilbudswizard__header,
.tilbudswizard__logo,
.tilbudswizard__body,
.tilbudswizard__footer,
.tilbudswizard__pending {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tilbudswizard__header {
	display: block;
	width: 100%;
	background-color: $color_white;
	border-bottom: 1px solid $color_black;
}

.tilbudswizard__logo {
	display: block;
	margin: 20px 0;
}

.tilbudswizard__body {
	dispaly: block;
	width: 100%;
	background-color: $color_white;
}

.tilbudswizard__footer {
	dispaly: block;
	width: 100%;
	background-color: $color_white;
	padding: 30px 0 0 0;
}

.tilbudswizard__pending {
	//@include transition(opacity 300ms ease);
	position: fixed;
	width: 70px;
	height: 70px;
	top: 50%;
	left: 50%;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	margin-left: -35px;
	margin-top: -35px;
	z-index: 70;
	color: $color_textwhite;
	opacity: 0;
	display: none;
	&:before {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}
	@include text-shadow(0px 0px 20px rgba(0,0,0,0.9));
	& > * {
		@include transform-origin(50%, 50%);
		-webkit-animation: spin 1s infinite linear;
	}
}

.tilbudswizard__pending--show {
	opacity: 1;
	display: block;
}

@-webkit-keyframes spin {
	0%   {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}
}