extends ../master

block append head

block append body

block append content

	div.tilbudswizard__pending(data-ng-class="{'tilbudswizard__pending--show':tilbudswizardctrl.states.pending}")
		div.icon.icon--circleONotch

	div.container.tilbudswizard__header
		div.container__content
			div.container__inner
				a.tilbudswizard__logo
					img(src="/img/graphic/logo.png", alt="Rationel")

	div.tilbudswizard__body

		div.container.step.retailer.step--map(data-ng-controller="RetailerCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(0)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(0)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 1. Find Rationel
							div.headline__line2 forhandler

			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner(data-ng-show="retailerctrl.states.showsearch")
							div.retailer__searchbox
								div.headline.headline--large
									div.headline__line1 Find nærmeste
									div.headline__line2 Forhandler
								form.form.form--center
									div.grid.grid--3
									div.grid.grid--14.grid--spaceright
										input.form__input(placeholder="Indtast dit postnr", data-ng-model="retailerctrl.searchvalue")
									div.grid.grid--4
										input.btn.btn--stretch(type="submit", value="søg", data-ng-click="retailerctrl.search()")
									div.grid.grid--3

						div.step_bodyinner(data-ng-show="retailerctrl.states.showresults")
							div.retailer__resultsbox
								div.headline.headline--large
									div.headline__line1 Hvor ønsker du at
									div.headline__line2 Afhente dit tilbud?
								div.cluster.cluster--height100
									div.cluster__list
										div.cluster__item(data-ng-repeat="retailer in retailerctrl.retailers")
											div.cluster__inner
												//div.retailer__card(data-ng-click="tilbudswizardctrl.setRetailer(retailer.id)", data-ng-class="{'retailer__card--selected': tilbudswizardctrl.checkRetailer(retailer.id)}")
												div.btn.btn--card.btn--leftbottomarrow(data-ng-click="tilbudswizardctrl.setRetailer(retailer.id)", data-ng-class="{'btn--selected': tilbudswizardctrl.checkRetailer(retailer.id)}")
													div.headline.headline--card
														div.headline__line1(data-ng-bind="retailer.title")
														div.headline__line2(data-ng-bind="retailer.adress")
														div.headline__line2 {{retailer.zip}} {{retailer.city}}
													div.btn__icon
														span.icon.icon--chevronright.icon--square
														span KLIK HER

													//h2.retailer__cardtitle(data-ng-bind="retailer.title")
													//p.retailer__paragraph(data-ng-bind="retailer.adress")
													//p.retailer__paragraph {{retailer.zip}} {{retailer.city}}



		div.container.product.step(data-ng-controller="ProductCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(1)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(1)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 2. Vælg din
							div.headline__line2 byggestil
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner
							div.product__categorybox
								div.headline.headline--large
									div.headline__line1 Hvilken type bolig skal dine
									div.headline__line2 Vinduer og døre passe til?
								div.cluster.cluster--line2.cluster--height200.cluster--autoHeight
									div.cluster__list
										div.cluster__item.cluster__item--1x1(data-ng-repeat="category in productctrl.categories")
											div.cluster__inner
												div.product__card(data-ng-click="tilbudswizardctrl.setCategory(category.id)", data-ng-class="{'product__card--selected': tilbudswizardctrl.checkCategory(category.id)}")
													div.product__cardimage
														img(src="http://placehold.it/350x150")
														div.btn.btn--card.btn--righttoparrow.btn--productcard(data-ng-class="{'btn--selected': tilbudswizardctrl.checkCategory(category.id)}")
															div.headline.headline--card
																div.headline__line1(data-ng-bind="category.title")
																div.headline__line2(data-ng-bind="category.title")
															div.btn__icon
																span.icon.icon--chevronright.icon--square




		div.container.product.step.step--product(data-ng-controller="ProductCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(2)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(2)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 3. Tilføj
							div.headline__line2 vinduer & døre
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner(data-ng-show="productctrl.states.showproductview")

							div.product__productsbox

								div.product__aside(data-ng-hide="tilbudswizardctrl.basket.states.showbasket")
									div.product__asideitem
										a.button.button--stretch(data-ng-click="productctrl.states.showproductview = false; productctrl.states.showupload = true;")
											div.button__text Upload filer
											div.button__icon
												span.icon.icon--chevronright.icon--square

								div.product__aside(data-ng-show="tilbudswizardctrl.basket.states.showbasket")
									div.product__asideitem(data-ng-repeat="item in tilbudswizardctrl.basket.items")
										p(data-ng-bind="item.id")
										p(data-ng-click="tilbudswizardctrl.removeItemFromBasket(item.id)") x
									div.product__asideitem
										a.button.button--stretch
											div.button__text Videre
											div.button__icon
												span.icon.icon--chevronright.icon--square

									div.product__asideitem(data-ng-repeat="basketitem in tilbudswizardctrl.basket.items", data-ng-bind="basketitem.title")

								div.product__main
									div.headline.headline--large
										div.headline__line1 Vælg de vinduer og døre
										div.headline__line2 du ønsker et tilbud på

									div.product__productlist
										div.product__item(data-ng-repeat="productline in productctrl.productlines", data-ng-class="{'product__item--active': productline.id === productctrl.activeProductLine}")
											div.product__itemimage(data-ng-click="productctrl.setProductLine(productline.id)")
												img(src="http://placehold.it/50x50")
											div.product__itemtext(data-ng-bind="productline.id")


									div(data-ng-show="productctrl.states.showproducts")
										p Vælg variant

										div.product__productlist
											div.product__item(data-ng-repeat="product in productctrl.shownProducts", data-ng-class="{'product__item--active': product.id === productctrl.activeProduct}")
												div.product__itemimage(data-ng-click="productctrl.setProduct(product.id)")
													img(src="http://placehold.it/50x50")
												div.product__itemtext(data-ng-bind="product.id")

										form.form(name="productForm")

											div.grid.grid--24.grid--spacebottom
												div.grid.grid--6.grid--spaceright
													input.form__input(type="text", placeholder="Beskrivende navn")
												div.grid.grid--6.grid--spaceright
													input.form__input(type="text", placeholder="Bredde i mm.")
												div.grid.grid--12

											div.grid.grid--24
												div.grid.grid--6.grid--spaceright
													select.form__select
														option Vælg antal
														option 1
														option 2
														option 3
														option 4
														option 5
												div.grid.grid--6.grid--spaceright
													input.form__input(type="text", placeholder="Højde i mm.")
												div.grid.grid--6.grid--spaceright
													select.form__select
														option Vælg sprosser
														option Med
														option Uden
												div.grid.grid--6
													div.button.button--stretch(data-ng-click="productctrl.addItemToBasket()")
														div.button__text Gem element
														div.button__icon
															span.icon.icon--chevronright.icon--square

						div.step_bodyinner(data-ng-show="productctrl.states.showupload")
							div.product__uploadbox
								div.headline.headline--large
									div.headline__line1 Upload
									div.headline__line2 filer
								form.form(name="productFilesForm")
									input.form__file(type="file")
									input.form__file(type="file")
									input.form__file(type="file")



		div.container.contact.step(data-ng-controller="ContactCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(3)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(3)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 4. Personlige
							div.headline__line2 oplysninger
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner
							div.contact__infobox
								div.headline.headline--large
									div.headline__line1 Udfyld
									div.headline__line2 personlige oplysninger
								form.form(name="contactform")
									input.form__input(type="text" placeholder="Navn")
									input.form__input(type="text" placeholder="Adresse")
									input.form__input(type="text" placeholder="Postnummer")
									input.form__input(type="text" placeholder="By")
									input.form__input(type="email" placeholder="E-mail")
									input.form__input(type="number" placeholder="Telefonnr")

									p Hvilket materiale ønsker du tilbud på?

									input(type="checkbox")
									label Træ ?
									input(type="checkbox")
									label Træ/alu ?

									textarea.form__textarea(placeholder="Øvrige oplysninger")

									input.btn(type="submit", value="Bestil tilbud")



						div.step_bodyinner
							div.contact__succesbox
								div.headline.headline--large
									div.headline__line2 Kvittering
									div.rte
										p Tak for din interesse i vores produkter.
										p Vi udarbejder et tilbud til dig, og sender til den valgte Rationel forhandler indenfor 24 timer på hverdage.
										p Du vil modtage en email og sms når tilbuddet ligger klar til afhentning.
										a.btn Tilmeld til nyhedsbrev


	div.container.tilbudswizard__footer
		div.container__content
			div.container__inner
				div.grid.grid--8
					div.headline.headline--footer
						div.headline__line1 398
						div.headline__line2
							| Forhandlere fordelt
							br
							| over hele landet
				div.grid.grid--8
					div.headline.headline--footer
						div.headline__line1 350.000
						div.headline__line2
							| Kvalitets vinduer til
							br
							| danske hjem årligt
				div.grid.grid--8
					div.headline.headline--footer
						div.headline__line1 97%
						div.headline__line2
							| Tilfreshed blandt
							br
							| danske kunder