extends ../master

block append head

block append body

block append content


	div.container.tilbudswizard__header
		div.container__content
			div.container__inner
				a.tilbudswizard__logo
					img(src="/img/graphic/logo.png", alt="Rationel")

	div.tilbudswizard__body



		div.container.step.retailer.step--map(data-ng-controller="RetailerCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(0)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(0)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 1. Find Rationel
							div.headline__line2 forhandler

			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner(data-ng-show="retailerctrl.states.showsearch")
							div.step__headline 1. Find Rationel forhandler nær dig
							form.form.form--center
								input.form__input(placeholder="Indtast dit postnr")
						div.step_bodyinner(data-ng-show="retailerctrl.states.showresults")
							div.step__headline 1. Vælg den Rationel forhandler tilbuddet skal sendes til.
							div.cluster
								div.cluster__list
									div.cluster__item(data-ng-repeat="retailer in retailerctrl.retailers")
										div.cluster__inner
											div.retailer__card(data-ng-click="tilbudswizardctrl.setRetailer(retailer.id)", data-ng-class="{'retailer__card--selected': tilbudswizardctrl.checkRetailer(retailer.id)}")
												h2.retailer__cardtitle(data-ng-bind="retailer.title")
												p.retailer__paragraph(data-ng-bind="retailer.adress")
												p.retailer__paragraph {{retailer.zip}} {{retailer.city}}




		div.container.product.step(data-ng-controller="ProductCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(1)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(1)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 2. Vælg din
							div.headline__line2 byggestil
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner
							div.step__headline 2. Vælg byggestilen på dit hus
							div.cluster.cluster--line2
								div.cluster__list
									div.cluster__item(data-ng-repeat="category in productctrl.categories")
										div.cluster__inner
											div.product__card(data-ng-click="tilbudswizardctrl.setCategory(category.id)", data-ng-class="{'product__card--selected': tilbudswizardctrl.checkCategory(category.id)}")
												h2.product__cardtitle(data-ng-bind="category.title")




		div.container.product.step(data-ng-controller="ProductCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(2)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(2)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 3. Tilføj
							div.headline__line2 vinduer & døre
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner
							div.step__headline 3. Tilføj vinduer & døre (Products)

							div.product__content
								div.product__aside
									div.product__asideitem Upload filer
									div.product__asideitem
										a.btn Videre
									div.product__asideitem(data-ng-repeat="basketitem in tilbudswizardctrl.basket.items", data-ng-bind="basketitem.title")

								div.product__main
									div.product__productlist
										div.product__item(data-ng-repeat="productline in productctrl.productlines", data-ng-class="{'product__item--active': productline.id === productctrl.activeProductLine}")
											div.product__inner(data-ng-bind="productline.id", data-ng-click="productctrl.setProductLine(productline.id)")

									div.product__productlist
										div.product__item(data-ng-repeat="product in productctrl.shownProducts", data-ng-class="{'product__item--active': product.id === productctrl.activeProduct}")
											div.product__inner(data-ng-bind="product.id", data-ng-click="productctrl.setProduct(product.id)")

									form.form(name="productForm")
										input.form__input(type="text", placeholder="Beskrivende navn")
										select.form__select
											option 1
											option 2
											option 3
											option 4
											option 5
										input.form__input(type="text", placeholder="Bredde")
										input.form__input(type="text", placeholder="Længde")

										input(type="checkbox")
										span Med sprosser?
										a + Tilføj

						div.step_bodyinner
							div.step__headline 3. Tilføj vinduer & døre (Upload)
								form.form(name="productFilesForm")
									input.form__file(type="file")
									input.form__file(type="file")
									input.form__file(type="file")



		div.container.contact.step(data-ng-controller="ContactCtrl", data-ng-class="{'step--active': tilbudswizardctrl.checkstep(3)}")
			div.step__header(data-ng-click="tilbudswizardctrl.switchstep(3)")
				div.container__content
					div.container__inner
						div.headline
							div.headline__line1 4. Personlige
							div.headline__line2 oplysninger
			div.step__body
				div.container__content
					div.container__inner
						div.step_bodyinner
							div.step__headline 4. Udfyld personlige oplysninger.
							form.form(name="contactform")
								input.form__input(type="text" placeholder="Navn")
								input.form__input(type="text" placeholder="Adresse")
								input.form__input(type="text" placeholder="Postnummer")
								input.form__input(type="text" placeholder="By")
								input.form__input(type="email" placeholder="E-mail")
								input.form__input(type="number" placeholder="Telefonnr")

								p Hvilket materiale ønsker du tilbud på?

								input(type="checkbox")
								input(type="checkbox")

								textarea.form__textarea(placeholder="Øvrige oplysninger")

								input.btn(type="submit", value="Bestil tilbud")



						div.step_bodyinner
							div.step__headline 4. Kvittering



	div.container.tilbudswizard__footer
		div.container__content
			div.container__inner
				div.grid.grid--8 1
				div.grid.grid--8 2
				div.grid.grid--8 3